.menu {
    margin: 1vw 6vw;
    display: flex;
    flex-direction: row;
    margin-bottom: 0 ;
}

.menu__element {
    width: 6vw;
    background-color: rgb(32, 32, 32);
    color: rgb(219, 219, 219);
    line-height: 2vw;
    margin-right: 2vw;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    cursor: pointer;
}