.areaPage__title {
  font-size: 2.5vw;
  margin-bottom: .5vw;
}

.areaPage__save__button{
  margin-top: 1vw;
}

.areaPage__save__button {
  .css-sghohy-MuiButtonBase-root-MuiButton-root {
    width: 10vw !important;
  }
}