@media (max-width: 1066px) {
  .editPopup{
      .popupWindow{
        height: 20vw !important;
      }
  }
}

@media (max-width: 740px) {
  .editPopup{
      .popupWindow{
        height: 23vw !important;
      }
  }
}

@media (max-width: 496px) {
  .editPopup{
      .popupWindow{
        height: 25vw !important;
      }
  }
}
@media (max-width: 470px) {
  .editPopup{
      .popupWindow{
        height: 28vw !important;
      }
  }
}

@media (max-width: 429px) {
  .editPopup{
      .popupWindow{
        height: 30vw !important;
      }
  }
}

@media (max-width: 371px) {
  .editPopup{
      .popupWindow{
        height: 32vw !important;
      }
  }
}

@media (max-width: 335px) {
  .editPopup{
      .popupWindow{
        height: 34vw !important;
      }
  }
}

.editPopup {
  .popupWindow {
    height: 20vw;
    width: 27vw;
    margin-top: 15vw;
    box-shadow: 0 .2vw 1vw 0 rgba(0,0,0,0.16);
    background-color: white;
  }

  .editPopup__content__buttons{
    margin-top: 2vw;
  }
}

.editPopup__content__title {
  font-size: 2.5vw;
  margin-bottom: 1vw;
}

.editPopup__content {
  margin: 1vw;
}

@media (max-width: 470px) {
  .editPopup__content__buttons {
    .css-1d9bq45-MuiButtonGroup-root{
      display: flex;
      flex-direction: column;
      box-shadow: none;
    }

    .css-sghohy-MuiButtonBase-root-MuiButton-root{
      border: none !important;
      border-radius: 0 !important;
    }
  }
}

.editPopup__content__buttons {
  .css-sghohy-MuiButtonBase-root-MuiButton-root {
    width: 5.5vw;
    height: 1.7vw;
    font-size: .7vw;
  }
}
