.changePassword__content {
  display: flex;
  justify-content: center;
}

.changePassword {
  width: 100vw;
}

.changePassword__content__block {
  border: .3vw solid #1976d2;
  width: 25vw;
  height: 15vw;
  margin-top: 10vw;
}

.changePassword__content__block__title {
  margin: 1vw;
  font-size: 2vw;
}

.changePassword__content__block__userName, .changePassword__content__block__newPassword {
  margin-left: 1vw;
  margin-right: 1vw;
}

.changePassword__content__block__button {
   margin: 1vw;
}
